<a href="https://colab.research.google.com/github/Tejeswar001/Python-Practice-/blob/06%2F06-BootCampProgress/06_06_Python_Basics_and_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/Tejeswar001/Python-Practice-

Cloning into 'Python-Practice-'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (3/3), done.

- INPUT and OUTPUT in py

In [ ]:
print("Hi")

Hi

In [ ]:
a=input("enter: ")
print("output:",a)

enter: 1
output: 1

**DATA TYPES**

In [ ]:
INT=12345648546
float_=2.222222222222222
complex_=5+4j
print(INT,float_,complex_)

12345648546 2.222222222222222 (5+4j)

In [ ]:
list_=[1,5,8,7]
tuple_=(4,8,9,4)
set_={5,4,8,2,9,1}
dict_={'a':1,'b':2}
print(list_,tuple_,set_,dict_)

[1, 5, 8, 7] (4, 8, 9, 4) {1, 2, 4, 5, 8, 9} {'a': 1, 'b': 2}

**Expressions and Operators**

In [ ]:
a=89
b=60
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

149
29
5340
1.4833333333333334
1
29
919179645527332188528767743697044534647677141263814438294608339854073027277989379673170633101882546894684498551501601

**Type Casting**

In [ ]:
a=int(35)
b=float(35)
c=str(35)
d=list("list")
e=tuple([1,8,5,6,3])
f=set([1,2,3,4,5,6,1])
print(a,b,c)
print(d,e,f)

35 35.0 35
['l', 'i', 's', 't'] (1, 8, 5, 6, 3) {1, 2, 3, 4, 5, 6}

**Conditional Statements**

In [ ]:
a=int(input("enter: "))
if a%2==0:
  print("even")
else:
  print("odd")

enter: 58
even

**Loop Statements**

In [ ]:
for i in range(1,11):
  print(i)
i=1
while i<=10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

**Special Functions**

In [ ]:
a=[1,2,3,4,5,6,7,8]

print("size",len(a))

print("maximum value",max(a))

print("minimum value",min(a))

print("Summation",sum(a))

print("sorted list",sorted(a))

for i in a:

  print(i,end=" ")

print(type(a))

print("id of object a",id(a))

size 8
maximum value 8
minimum value 1
Summation 36
sorted list [1, 2, 3, 4, 5, 6, 7, 8]
1 2 3 4 5 6 7 8 <class 'list'>
id of object a 137810268006976

Area Calculator: Create a function Calculate_area(shape, dimensions) that takes the shape (e.g., "rectangle", "circle") and its dimensions as arguments. The function should calculate the area based on the shape and return the result. Implement logic for handling different shapes (rectangle, circle) and their corresponding dimensions (length, width for rectangle; radius for circle).

In [22]:
import math

def Calculate_area(shape, dimensions):

  if shape == "rectangle":
    if len(dimensions) == 2:
      length, width = dimensions
      return length * width
    else:
      return "Error: Rectangle requires two dimensions (length and width)."

  elif shape == "circle":
    if len(dimensions) == 1:
      radius = dimensions[0]
      return math.pi * radius ** 2
    else:
      return "Error: Circle requires one dimension (radius)."

  else:
    return "Error: Unsupported shape."

# Example usage
print(Calculate_area("rectangle", [5, 10]))  # Output: 50
print(Calculate_area("circle", [7]))  # Output: 153.93804002589985
print(Calculate_area("triangle", [3, 4]))  # Output: Error: Unsupported shape.

50
153.93804002589985
Error: Unsupported shape.

String Manipulation:
Create a function reverse_words(text) that takes a string as input.
The function should reverse the order of words in the string while maintaining the order of characters within each word. -Return the modified string.
Hint: Use string methods like split and join to manipulate the words.

In [24]:
def reverse_words(text):
  words = text.split()  # Split the string into a list of words
  reversed_words = words[::-1]  # Reverse the list of words
  return " ".join(reversed_words)  # Join the reversed words with spaces

# Example usage
print(reverse_words("This is a sentence."))  # Output: sentence. a is This

sentence. a is This

In [25]:
def analyze_list(numbers):
  if not numbers:
    return "Error: Input list is empty."

  min_value = min(numbers)
  max_value = max(numbers)
  average = sum(numbers) / len(numbers)

  return {
    "min": min_value,
    "max": max_value,
    "average": average
  }

# Example usage
print(analyze_list([1, 5, 3, 9, 2]))  # Output: {'min': 1, 'max': 9, 'average': 4.0}

{'min': 1, 'max': 9, 'average': 4.0}

Filtering with Lambda:
Create a list of product names (strings).
Define a function filter_short_names(names, max_length) that takes the list of names and a maximum length as arguments.
Use filter with a lambda function to return a new list containing only names shorter than the provided max_length.

In [ ]:
products = ["Laptop", "Smartphone", "Tablet", "Mouse", "Keyboard", "Monitor"]

def filter_short_names(names, max_length):
  short_names = list(filter(lambda name: len(name) < max_length, names))
  return short_names

# Example usage
print(filter_short_names(products, 7))  # Output: ['Tablet', 'Mouse']