<a href="https://colab.research.google.com/github/Tejeswar001/Python-Practice-/blob/main/Python%3B).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/Tejeswar001/Python-Practice-

Cloning into 'Python-Practice-'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (3/3), done.

- INPUT and OUTPUT in py

In [2]:
print("Hi")

Hi

In [7]:
a=input("enter: ")
print("output:",a)

enter: 1
output: 1

**DATA TYPES**

In [8]:
INT=12345648546
float_=2.222222222222222
complex_=5+4j
print(INT,float_,complex_)

12345648546 2.222222222222222 (5+4j)

In [9]:
list_=[1,5,8,7]
tuple_=(4,8,9,4)
set_={5,4,8,2,9,1}
dict_={'a':1,'b':2}
print(list_,tuple_,set_,dict_)

[1, 5, 8, 7] (4, 8, 9, 4) {1, 2, 4, 5, 8, 9} {'a': 1, 'b': 2}

**Expressions and Operators**

In [10]:
a=89
b=60
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

149
29
5340
1.4833333333333334
1
29
919179645527332188528767743697044534647677141263814438294608339854073027277989379673170633101882546894684498551501601

**Type Casting**

In [12]:
a=int(35)
b=float(35)
c=str(35)
d=list("list")
e=tuple([1,8,5,6,3])
f=set([1,2,3,4,5,6,1])
print(a,b,c)
print(d,e,f)

35 35.0 35
['l', 'i', 's', 't'] (1, 8, 5, 6, 3) {1, 2, 3, 4, 5, 6}

**Conditional Statements**

In [13]:
a=int(input("enter: "))
if a%2==0:
  print("even")
else:
  print("odd")

enter: 58
even

**Loop Statements**

In [14]:
for i in range(1,11):
  print(i)
i=1
while i<=10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

**Special Functions**

In [21]:
a=[1,2,3,4,5,6,7,8]

print("size",len(a))

print("maximum value",max(a))

print("minimum value",min(a))

print("Summation",sum(a))

print("sorted list",sorted(a))

for i in a:

  print(i,end=" ")

print(type(a))

print("id of object a",id(a))

size 8
maximum value 8
minimum value 1
Summation 36
sorted list [1, 2, 3, 4, 5, 6, 7, 8]
1 2 3 4 5 6 7 8 <class 'list'>
id of object a 137810268006976