<a href="https://colab.research.google.com/github/Tejeswar001/Python-Practice-/blob/BootCampProgress/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Sets

Sets in Python are unordered collections of unique elements.

To create a set, use curly braces {} or the set() constructor:

In [1]:
my_set = {1, 2, 3}
# or
my_set = set([1, 2, 3])

In [2]:
example_set = {1, 2, 3, 4, 5}
print(type(example_set))

<class 'set'>

# Set Operations in python

**Union**

The union of two sets in Python is a new set that contains all the elements from both sets, without duplicates.

In [3]:
# using union() methods
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [4]:
# using the | operator
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1 | set2
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

Both methods produce same result: a new set containing all elements from set1 and set2

**Intersection**

The intersection of two sets in Python is a new set that contains only the elements that are common to both sets.

You can find the intersection in two ways:

In [5]:
# Using the intersection() method:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {3}

{3}

In [6]:
# Using the & operator:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

intersection_set = set1 & set2
print(intersection_set)  # Output: {3}

{3}

# Difference(-)

The difference between two sets in Python refers to a new set that contains elements present in the first set but not in the second set.

There are two primary ways to find the difference:

In [7]:
# Using the difference() method:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

difference_set = set1.difference(set2)
print(difference_set)  # Output: {1, 2}

{1, 2}

In [8]:
# Using the - operator:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

difference_set = set1 - set2
print(difference_set)  # Output: {1, 2}

{1, 2}

Remember that the order of sets matter in difference operations. set1 - set2 is not the same as set2 - set1.

# Symmetric difference

The symmetric difference between two sets in Python is a new set containing elements that are in either of the sets, but not in both.

There are two ways to find the symmetric difference:

In [9]:
# Using the symmetrc_difference() method:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

symmetric_diff_set = set1.symmetric_difference(set2)
print(symmetric_diff_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

In [10]:
# Using the ^ operator:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

symmetric_diff_set = set1 ^ set2
print(symmetric_diff_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

# SET Methods in python

**add(element)**

Adds a single element to the set.

In [11]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

**remove(element)**

Removes a specific elements from the set. Raises a **KeyError** if the element is not present.

In [12]:
my_set = {1, 2, 3}
my_set.remove(3)
print(my_set)  # Output: {1, 2}
# my_set.remove(5)  # Raises KeyError: 5

{1, 2}

**discard(element)**

Removes a specific elements if it present in the set. Does not raise an error if the element is not found.

In [13]:
my_set = {1, 2, 3}
my_set.discard(2)
print(my_set)  # Output: {1, 3}
my_set.discard(5)  # No error, does nothing

{1, 3}

**pop()**

Removes and returns an arbitrary elements from the set. Raises a **KeyError** if the set is empty.

In [14]:
my_set = {1, 2, 3}
popped_element = my_set.pop()
print(popped_element)  # Output: 1 (or any other element, order is arbitrary)
print(my_set)  # Output: {2, 3} (or the remaining elements)

1
{2, 3}

**clear()**

Removes all the elements from the set.

In [15]:
my_set = {1, 2, 3}
my_set.clear()
print(my_set)  # Output: set()

set()

**copy()**

Creates a shallow copy of the set.

In [16]:
my_set = {1, 2, 3}
new_set = my_set.copy()
print(new_set)  # Output: {1, 2, 3}

{1, 2, 3}

**update(iterable)**

Adds mutliple elements from the iterable (like list, tuple, or another set) to the set.

In [17]:
my_set = {1, 2, 3}
my_set.update([4, 5, 6])
print(my_set)  # Output: {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

**issubset(other_set)**

Checks if the set is a subset of another set.

In [18]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}
print(set1.issubset(set2))  # Output: True

True

**issuperset(other_set)**

Checks if the set is a superset of another set.

In [19]:
set1 = {1, 2, 3, 4}
set2 = {1, 2}
print(set1.issuperset(set2))  # Output: True

True

**isdisjoint(other_set)**

Checks if the set has no elements in common with another set.

In [20]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
print(set1.isdisjoint(set2))  # Output: True

True