<a href="https://colab.research.google.com/github/Tejeswar001/BootCamp-Jun-2024/blob/BootCampProgress/analysis_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Pandas

In [ ]:
import pandas as pd

# Load the spreadsheet

In [ ]:
df = pd.read_csv('bestsellers.csv')

# First 5 rows of the spreadsheet
print(df.head())

                                                Name  \
0                      10-Day Green Smoothie Cleanse
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...

                     Author  User Rating  Reviews  Price  Year        Genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction

# Explore the data

In [ ]:
# The shape of the spreadsheet
print(df.shape)

(550, 7)

In [ ]:
# Get the column names of the spreadsheet
print(df.columns)

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'], dtype='object')

In [ ]:
# Get the summary statistics for each column
print(df.describe())

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

In [ ]:
# Get the null values in the spreadsheet
print(df.isnull())

      Name  Author  User Rating  Reviews  Price   Year  Genre
0    False   False        False    False  False  False  False
1    False   False        False    False  False  False  False
2    False   False        False    False  False  False  False
3    False   False        False    False  False  False  False
4    False   False        False    False  False  False  False
..     ...     ...          ...      ...    ...    ...    ...
545  False   False        False    False  False  False  False
546  False   False        False    False  False  False  False
547  False   False        False    False  False  False  False
548  False   False        False    False  False  False  False
549  False   False        False    False  False  False  False

[550 rows x 7 columns]

In [ ]:
print(df.isnull().sum())

Name           0
Author         0
User Rating    0
Reviews        0
Price          0
Year           0
Genre          0
dtype: int64

# Clean the data

## Drop Duplicates

In [ ]:
df.drop_duplicates(inplace=True)

By setting the inplace parameter to True, the changes are made directly to the original DataFrame.

## Renaming Columns

In [ ]:
print(df.columns)

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'], dtype='object')

In [ ]:
df.rename(columns={"Name": "Book Title", "Year": "Publication Year", "User Rating":"Rating"},inplace=True)

In [ ]:
print(df.columns)

Index(['Book Title', 'Author', 'Rating', 'Reviews', 'Price',
       '  Publication Year', 'Genre'],
      dtype='object')

## Convert Data types

In [ ]:
df.dtypes

Book Title             object
Author                 object
Rating                float64
Reviews                 int64
Price                   int64
  Publication Year      int64
Genre                  object
dtype: object

In [ ]:
df["Price"].dtypes

dtype('int64')

In [ ]:
df["Price"] = df["Price"].astype(float)

In [ ]:
df['Price'].dtypes

dtype('float64')

# Run an Analysis

## Analyzing Author Popularity

This can be done by selecting the 'Author' column data and using the value_counts() method. We can assign this to an author_counts variable:

In [ ]:
author_counts = df['Author'].value_counts()
print(author_counts)

Author
Jeff Kinney                           12
Gary Chapman                          11
Rick Riordan                          11
Suzanne Collins                       11
American Psychological Association    10
                                      ..
Keith Richards                         1
Chris Cleave                           1
Alice Schertle                         1
Celeste Ng                             1
Adam Gasiewski                         1
Name: count, Length: 248, dtype: int64

In [ ]:
print(author_counts.head(10))

Author
Jeff Kinney                           12
Gary Chapman                          11
Rick Riordan                          11
Suzanne Collins                       11
American Psychological Association    10
Dr. Seuss                              9
Gallup                                 9
Rob Elliott                            8
Stephen R. Covey                       7
Stephenie Meyer                        7
Name: count, dtype: int64

## Average Rating by Genre

We can also use the cleaned data to determine the average rating for each genre in the dataset. We can do this by grouping the data by the "Genre" column and calculating the mean of the "Rating" column.

In [ ]:
avg_rating_by_genre = df.groupby('Genre')['Rating'].mean()
print(avg_rating_by_genre)

Genre
Fiction        4.648333
Non Fiction    4.595161
Name: Rating, dtype: float64