<a href="https://colab.research.google.com/github/Tejeswar001/Python-Practice-/blob/BootCampProgress/10-06-Python%20data%20structures/python_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python List

A Python list is a collection of items that are ordered and mutable.

Features of Python List
- **Ordered**: Elements in a sequence maintain the same order in which they were added.
- **Indexable**: Elements in a sequence can be accessed using their position (index).
- **Mutable**: A sequence can be changed after it's created (elements added, removed, or modified).
- **Heterogeneous**: A sequence can contain elements of different data types.
- **Dynamic**: The size of a sequence can change (grow or shrink) during runtime.
- **Iterable**: A sequence can be iterated over (e.g., used in a for loop).
- **Methods**: Functions associated with an object that operate on the object's data.
- **Functions**: Blocks of reusable code that perform a specific task.

Methods in Python List
- **append()**: Adds an element to the end of the list.
- **clear()**: Removes all elements from the list.
- **copy()**: Creates and returns a copy of the list.
- **count()**: Returns the count of elements that match a specified value.
- **extend()**: Appends the elements of another iterable (e.g., list, tuple) to the end of the current list.
- **index()**: Returns the index of the first occurrence of a specified value.
- **insert()**: Inserts an element at a specified position in the list.
- **pop()**: Removes and returns the element at a specified position. If no position is specified, it removes and returns the last element.
- **remove()**: Removes the first occurrence of a specified value from the list.
- **reverse()**: Reverses the order of elements in the list.
- **sort()**: Sorts the elements of the list in ascending order by default. Optionally, a custom sorting function can be provided.

In [17]:
a=[1, 2, 5, 8, 9, 11, 15, 21]# we use [] to represent a list data structure in python

In [18]:
a.append(25)# adds 25 to the end of the list
print(a)

[1, 2, 5, 8, 9, 11, 15, 21, 25]

In [16]:
a.clear()# removes all elements from the list
print(a)

[]

In [8]:
b = a.copy()# creates and returns a copy of the list
print(b)

[1, 2, 5, 8, 9, 11, 15, 21, 25]

In [9]:
count = a.count(2)# returns the count of elements that match a specified value
print(count)

1

In [19]:
b = [ 45, 75, 89]
a.extend(b)# appends the elements of another iterable (e.g., list, tuple) to the end of the current list
print(a)

[1, 2, 5, 8, 9, 11, 15, 21, 25, 45, 75, 89]

In [22]:
c = a.index(2)# returns the index of the first occurrence of a specified value
print(c)

1

In [23]:
a.insert(2, 25)# inserts an element at a specified position in the list
print(a)

[1, 2, 25, 5, 8, 9, 11, 15, 21, 25, 45, 75, 89]

In [25]:
d = a.pop()#Removes and returns the element at a specified position.
f = a.pop(6)#If no position is specified, it removes and returns the last element.
print(f)
print(d)
print(a)

11
75
[1, 2, 25, 5, 8, 9, 15, 21, 25, 45]

In [27]:
g = a.remove(15)# removes the first occurrence of a specified value from the list
print(g)
print(a)

None
[1, 2, 25, 5, 8, 9, 21, 25, 45]

In [28]:
a.reverse()# Reverses the order of elements in the list
print(a)

[45, 25, 21, 9, 8, 5, 25, 2, 1]

In [29]:
a.sort()#Sorts the elements of the list in ascending order by default.
print(a)

[1, 2, 5, 8, 9, 21, 25, 25, 45]

# List Comprehension

List comprehension provides a concise way to create lists in Python.

The general syntax for lsit comprehension

In [ ]:
[expression for item in iterable if condition]

Where:

- **expression** is the value to be included in the resulting list, computed for each item.
- **item** is a variable representing a member of the iterable.
- **iterable** is a sequence (like a list, tuple, or range) that you want to iterate over.
- **condition** is an optional filter that determines if an item should be included in the resulting list.

For example, if you wanted to create a list of the squares of the first 10 numbers, you could do the following:

In [31]:
squares = [i * i for i in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

List comprehensions can also include conditions. For example, if you wanted to create a list of the squares of the first 10 odd numbers:

In [32]:
odd_squares = [i * i for i in range(1, 11) if i % 2 != 0]
print(odd_squares)

[1, 9, 25, 49, 81]

List comprehension is also used for taking input in string data type with spaces separating the number into a list,

In [30]:
a = [int(x) for x in input().split()]
print(a)

1 2 3 4 5 6 7 8 9
[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Indexing in Python List

**Positive Indexing**: Positive indexing refers to accessing elements in a sequence, such as a list or string, starting from index 0.

In [33]:
my_list = [10, 20, 30, 40]
print(my_list[0])  # Output: 10
print(my_list[2])  # Output: 30

10
30

**Negative Indexing**: Negative indexing provides a way to access elements from the end of a sequence. The last element is indexed as -1, the second-to-last as -2, and so on.

In [34]:
my_list = [10, 20, 30, 40]
print(my_list[-1])  # Output: 40
print(my_list[-3])  # Output: 20

40
20

To **Retrieve** elements from a Python list we can use indexing and slicing.

In [35]:
my_list = [10, 20, 30, 40]
print(my_list[1])  # Output: 20 (Retrieves the second element)

20

**Update**
You can update elements in a Python list using indexing by assigning new values to specific positions.

In [36]:
my_list = [10, 20, 30, 40]
my_list[1] = 25  # Update the second element to 25
print(my_list)   # Output: [10, 25, 30, 40]

[10, 25, 30, 40]

# Slicing in Python List

Positive slicing in Python allows you to extract a portion of a sequence (like a list or string) using positive indices. The syntax is **sequence[start:end]**, where:

- **start**: The index of the first element to include (inclusive).
- **end**: The index of the first element to exclude (exclusive).

In [37]:
my_list = [10, 20, 30, 40, 50]
print(my_list[1:4])  # Output: [20, 30, 40] (Elements from index 1 to 3)
print(my_list[:3])   # Output: [10, 20, 30] (Elements from the beginning to index 2)
print(my_list[2:])   # Output: [30, 40, 50] (Elements from index 2 to the end)

[20, 30, 40]
[10, 20, 30]
[30, 40, 50]

Negative slicing in Python works similarly to positive slicing, but it uses negative indices to reference elements from the end of the sequence.

In [38]:
my_list = [10, 20, 30, 40, 50]
print(my_list[-3:-1])  # Output: [30, 40] (Elements from the third-to-last to the second-to-last)
print(my_list[:-2])   # Output: [10, 20, 30] (Elements from the beginning to the second-to-last)
print(my_list[-2:])   # Output: [40, 50] (Elements from the second-to-last to the end)

[30, 40]
[10, 20, 30]
[40, 50]

**Retrieve** in python list
You can retrieve elements from a Python list using slicing by specifying the start and end indices.

In [39]:
my_list = [10, 20, 30, 40, 50]
print(my_list[1:4])  # Output: [20, 30, 40] (Elements from index 1 to 3)

[20, 30, 40]

In [41]:
print(my_list[-2:-1])  # Output: [30, 40] (Elements from the third-to-last to the second-to-last)

[40]

**Update**

You can update multiple elements in a Python list using slicing by assigning a new iterable (like a list or tuple) to the slice.

In [42]:
my_list = [10, 20, 30, 40, 50]
my_list[1:3] = [25, 35]  # Update elements at index 1 and 2
print(my_list)   # Output: [10, 25, 35, 40, 50]

[10, 25, 35, 40, 50]

The length of the new iterable doesn't have to match the length of the slice.

In [43]:
my_list[0:2] = [15]  # Replace the first two elements with a single element
print(my_list)   # Output: [15, 35, 40, 50]

[15, 35, 40, 50]

**Deletion** using slicing

You can delete elements from a Python list using slicing by assigning an empty list to the slice you want to remove.

In [48]:
my_list = [10, 20, 30, 40, 50]
my_list[1:3] = []  # Delete elements at index 1 and 2
print(my_list)   # Output: [10, 40, 50]

[10, 40, 50]

**Insertion** using slicing

While you can't directly insert elements using slicing alone, you can achieve insertion by replacing a slice with a longer iterable.

In [47]:
my_list = [10, 20, 30, 40]
my_list[1:1] = [15, 17]  # Insert elements at index 1
print(my_list)  # Output: [10, 15, 17, 20, 30, 40]

[10, 15, 17, 20, 30, 40]

# Basic Searching and Sorting in List

**Searching**:
To search for an element in a list, you can use the in operator or the index() method.

In [46]:
my_list = [10, 20, 30, 40]

if 20 in my_list:
    print("Element found")  # Output: Element found

print(my_list.index(30))  # Output: 2 (Index of the element 30)

Element found
2

**Sorting**: To sort a list, you can use the sort() method (in-place sorting) or the sorted() function (creates a new sorted list).

In [44]:
my_list = [40, 10, 30, 20]

my_list.sort()  # Sorts the list in-place
print(my_list)  # Output: [10, 20, 30, 40]

new_list = sorted(my_list)  # Creates a new sorted list
print(new_list)  # Output: [10, 20, 30, 40]

my_list.sort(reverse=True)  # Sorts the list in descending order
print(my_list)  # Output: [40, 30, 20, 10]

[10, 20, 30, 40]
[10, 20, 30, 40]
[40, 30, 20, 10]

# Special Methods

- **Reduce**: The reduce() function is not a method of the list object itself. It's a function from the functools module. It applies a function of two arguments cumulatively to the items of a sequence, from left to right, to reduce the sequence to a single value.

In [45]:
from functools import reduce

def add(x, y):
    return x + y

my_list = [1, 2, 3, 4]
result = reduce(add, my_list)
print(result)  # Output: 10

10

- **map**: The map() function applies a given function to each item of an iterable (like a list) and returns an iterator of the results.

In [49]:
def square(x):
    return x * x

my_list = [1, 2, 3, 4]
result = map(square, my_list)
print(list(result))  # Output: [1, 4, 9, 16]

[1, 4, 9, 16]

- **filter**: The filter() function constructs an iterator from elements of an iterable for which a given function returns True.

In [50]:
def is_even(x):
    return x % 2 == 0

my_list = [1, 2, 3, 4, 5, 6]
result = filter(is_even, my_list)
print(list(result))  # Output: [2, 4, 6]

[2, 4, 6]

- **zip**:The zip() function takes iterables (like lists) as input and returns an iterator of tuples, where the i-th tuple contains the i-th element from each of the input iterables.

In [51]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

result = zip(list1, list2)
print(list(result))  # Output: [(1, 'a'), (2, 'b'), (3, 'c')]

[(1, 'a'), (2, 'b'), (3, 'c')]