<a href="https://colab.research.google.com/github/Tejeswar001/Python-Practice-/blob/BootCampProgress/10-06-Python%20data%20structures/python_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python List

A Python list is a collection of items that are ordered and mutable.

Features of Python List
- **Ordered**: Elements in a sequence maintain the same order in which they were added.
- **Indexable**: Elements in a sequence can be accessed using their position (index).
- **Mutable**: A sequence can be changed after it's created (elements added, removed, or modified).
- **Heterogeneous**: A sequence can contain elements of different data types.
- **Dynamic**: The size of a sequence can change (grow or shrink) during runtime.
- **Iterable**: A sequence can be iterated over (e.g., used in a for loop).
- **Methods**: Functions associated with an object that operate on the object's data.
- **Functions**: Blocks of reusable code that perform a specific task.

Methods in Python List
- **append()**: Adds an element to the end of the list.
- **clear()**: Removes all elements from the list.
- **copy()**: Creates and returns a copy of the list.
- **count()**: Returns the count of elements that match a specified value.
- **extend()**: Appends the elements of another iterable (e.g., list, tuple) to the end of the current list.
- **index()**: Returns the index of the first occurrence of a specified value.
- **insert()**: Inserts an element at a specified position in the list.
- **pop()**: Removes and returns the element at a specified position. If no position is specified, it removes and returns the last element.
- **remove()**: Removes the first occurrence of a specified value from the list.
- **reverse()**: Reverses the order of elements in the list.
- **sort()**: Sorts the elements of the list in ascending order by default. Optionally, a custom sorting function can be provided.

In [17]:
a=[1, 2, 5, 8, 9, 11, 15, 21]# we use [] to represent a list data structure in python

In [18]:
a.append(25)# adds 25 to the end of the list
print(a)

[1, 2, 5, 8, 9, 11, 15, 21, 25]

In [16]:
a.clear()# removes all elements from the list
print(a)

[]

In [8]:
b = a.copy()# creates and returns a copy of the list
print(b)

[1, 2, 5, 8, 9, 11, 15, 21, 25]

In [9]:
count = a.count(2)# returns the count of elements that match a specified value
print(count)

1

In [19]:
b = [ 45, 75, 89]
a.extend(b)# appends the elements of another iterable (e.g., list, tuple) to the end of the current list
print(a)

[1, 2, 5, 8, 9, 11, 15, 21, 25, 45, 75, 89]

In [22]:
c = a.index(2)# returns the index of the first occurrence of a specified value
print(c)

1

In [23]:
a.insert(2, 25)# inserts an element at a specified position in the list
print(a)

[1, 2, 25, 5, 8, 9, 11, 15, 21, 25, 45, 75, 89]

In [25]:
d = a.pop()#Removes and returns the element at a specified position.
f = a.pop(6)#If no position is specified, it removes and returns the last element.
print(f)
print(d)
print(a)

11
75
[1, 2, 25, 5, 8, 9, 15, 21, 25, 45]

In [27]:
g = a.remove(15)# removes the first occurrence of a specified value from the list
print(g)
print(a)

None
[1, 2, 25, 5, 8, 9, 21, 25, 45]

In [28]:
a.reverse()# Reverses the order of elements in the list
print(a)

[45, 25, 21, 9, 8, 5, 25, 2, 1]

In [29]:
a.sort()#Sorts the elements of the list in ascending order by default.
print(a)

[1, 2, 5, 8, 9, 21, 25, 25, 45]

# List Comprehension

List comprehension provides a concise way to create lists in Python.

The general syntax for lsit comprehension

In [ ]:
[expression for item in iterable if condition]

Where:

- **expression** is the value to be included in the resulting list, computed for each item.
- **item** is a variable representing a member of the iterable.
- **iterable** is a sequence (like a list, tuple, or range) that you want to iterate over.
- **condition** is an optional filter that determines if an item should be included in the resulting list.

For example, if you wanted to create a list of the squares of the first 10 numbers, you could do the following:

In [31]:
squares = [i * i for i in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

List comprehensions can also include conditions. For example, if you wanted to create a list of the squares of the first 10 odd numbers:

In [32]:
odd_squares = [i * i for i in range(1, 11) if i % 2 != 0]
print(odd_squares)

[1, 9, 25, 49, 81]

List comprehension is also used for taking input in string data type with spaces separating the number into a list,

In [30]:
a = [int(x) for x in input().split()]
print(a)

1 2 3 4 5 6 7 8 9
[1, 2, 3, 4, 5, 6, 7, 8, 9]