<a href="https://colab.research.google.com/github/Tejeswar001/Python-Practice-/blob/BootCampProgress/10-06-Python%20data%20structures/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Sets

Sets in Python are unordered collections of unique elements.

To create a set, use curly braces {} or the set() constructor:

In [ ]:
my_set = {1, 2, 3}
# or
my_set = set([1, 2, 3])

In [ ]:
example_set = {1, 2, 3, 4, 5}
print(type(example_set))

<class 'set'>

# Set Operations in python

**Union**

The union of two sets in Python is a new set that contains all the elements from both sets, without duplicates.

In [ ]:
# using union() methods
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
# using the | operator
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1 | set2
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

Both methods produce same result: a new set containing all elements from set1 and set2

**Intersection**

The intersection of two sets in Python is a new set that contains only the elements that are common to both sets.

You can find the intersection in two ways:

In [ ]:
# Using the intersection() method:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {3}

{3}

In [ ]:
# Using the & operator:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

intersection_set = set1 & set2
print(intersection_set)  # Output: {3}

{3}

# Difference(-)

The difference between two sets in Python refers to a new set that contains elements present in the first set but not in the second set.

There are two primary ways to find the difference:

In [ ]:
# Using the difference() method:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

difference_set = set1.difference(set2)
print(difference_set)  # Output: {1, 2}

{1, 2}

In [ ]:
# Using the - operator:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

difference_set = set1 - set2
print(difference_set)  # Output: {1, 2}

{1, 2}

Remember that the order of sets matter in difference operations. set1 - set2 is not the same as set2 - set1.

# Symmetric difference

The symmetric difference between two sets in Python is a new set containing elements that are in either of the sets, but not in both.

There are two ways to find the symmetric difference:

In [ ]:
# Using the symmetrc_difference() method:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

symmetric_diff_set = set1.symmetric_difference(set2)
print(symmetric_diff_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

In [ ]:
# Using the ^ operator:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

symmetric_diff_set = set1 ^ set2
print(symmetric_diff_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

# SET Methods in python

**add(element)**

Adds a single element to the set.

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

**remove(element)**

Removes a specific elements from the set. Raises a **KeyError** if the element is not present.

In [ ]:
my_set = {1, 2, 3}
my_set.remove(3)
print(my_set)  # Output: {1, 2}
# my_set.remove(5)  # Raises KeyError: 5

{1, 2}

**discard(element)**

Removes a specific elements if it present in the set. Does not raise an error if the element is not found.

In [ ]:
my_set = {1, 2, 3}
my_set.discard(2)
print(my_set)  # Output: {1, 3}
my_set.discard(5)  # No error, does nothing

{1, 3}

**pop()**

Removes and returns an arbitrary elements from the set. Raises a **KeyError** if the set is empty.

In [ ]:
my_set = {1, 2, 3}
popped_element = my_set.pop()
print(popped_element)  # Output: 1 (or any other element, order is arbitrary)
print(my_set)  # Output: {2, 3} (or the remaining elements)

1
{2, 3}

**clear()**

Removes all the elements from the set.

In [ ]:
my_set = {1, 2, 3}
my_set.clear()
print(my_set)  # Output: set()

set()

**copy()**

Creates a shallow copy of the set.

In [ ]:
my_set = {1, 2, 3}
new_set = my_set.copy()
print(new_set)  # Output: {1, 2, 3}

{1, 2, 3}

**update(iterable)**

Adds mutliple elements from the iterable (like list, tuple, or another set) to the set.

In [ ]:
my_set = {1, 2, 3}
my_set.update([4, 5, 6])
print(my_set)  # Output: {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

**issubset(other_set)**

Checks if the set is a subset of another set.

In [ ]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}
print(set1.issubset(set2))  # Output: True

True

**issuperset(other_set)**

Checks if the set is a superset of another set.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {1, 2}
print(set1.issuperset(set2))  # Output: True

True

**isdisjoint(other_set)**

Checks if the set has no elements in common with another set.

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
print(set1.isdisjoint(set2))  # Output: True

True

# Checking membership with "in" keyword

In [1]:
my_set = {1, 2, 3}
print(1 in my_set)  # True
print(4 in my_set)  # False

True
False

The in keyword returns True if the element is present in the set, and False otherwise.

# Set Comprehension

Set comprehension provides a concise way to create sets in Python.

It has the following syntax:

In [ ]:
{expression for item in iterable if condition}

In [2]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = {x for x in numbers if x % 2 == 0}
print(even_numbers)  # Output: {2, 4, 6}

{2, 4, 6}

In this example:

- x for x in numbers iterates through each item in the numbers list.
- if x % 2 == 0 filters items, including only even numbers.
- The resulting even numbers are collected into a set.

# Advanced set operations in sets python

**Cartesian Product**

The Cartesian product of two sets is a set of all possible ordered pairs where the first element comes from the first set and the second element comes from the second set.

In [3]:
from itertools import product
set1 = {1, 2}
set2 = {'a', 'b'}
cartesian_product = set(product(set1, set2))
print(cartesian_product)  # Output: {(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b')}

{(2, 'b'), (2, 'a'), (1, 'b'), (1, 'a')}

**Power Set**

The power set of a set is the set of all possible subsets, including the empty set and the original set itself.

In [4]:
from itertools import combinations
def power_set(s):
  result = []
  for r in range(len(s)+1):
    for subset in combinations(s, r):
      result.append(set(subset))
  return result
my_set = {1, 2, 3}
print(power_set(my_set))
# Output: [{}, {1}, {2}, {3}, {1, 2}, {1, 3}, {2, 3}, {1, 2, 3}]

[set(), {1}, {2}, {3}, {1, 2}, {1, 3}, {2, 3}, {1, 2, 3}]

**Frozen Set**

A frozen set is an immutable version of a set. It cannot be modified after creation.

In [5]:
my_set = {1, 2, 3}
frozen_set = frozenset(my_set)
# frozen_set.add(4)  # This would raise an error
print(frozen_set)  # Output: frozenset({1, 2, 3})

frozenset({1, 2, 3})

**Set Algebra (SymPy's Boolean Algebra)**

SymPy provides a module for Boolean algebra that can be used to perform set operations symbolically.