<a href="https://colab.research.google.com/github/Tejeswar001/Python-Practice-/blob/BootCampProgress/10-06-Python%20data%20structures/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple Data Structure

A tuple in Python is an immutable, ordered sequence of elements. You can create a tuple using parentheses.

In [1]:
my_tuple = (1, 2, "hello")

In [6]:
a = (1,2,3)
print(type(a))

<class 'tuple'>

To access elements of the tuple, use indexing.

In [2]:
print(my_tuple[0])  # Output: 1

1

**count** function in tuple

In [4]:
my_tuple = (1, 2, 2, "hello")

print(my_tuple.count(2))  # Output: 2, counts occurrences of 2

2

**len** function to know the size of the tuple

In [5]:
my_tuple = (1, 2, "hello", True)
print(len(my_tuple))

4

# Tuple Constructor

It is also possible to use the tuple() constructor to make a tuple

In [7]:
tuple_ = tuple((1,45,65,89))
print(tuple_)

(1, 45, 65, 89)

# Indexing in Python Tuple

**Negative Indexing**

Negative indexing means start from end

In [8]:
tuple_ = (1,2,3,4,5)
print(tuple_[-1])

5

**Range of Indexes**

Range of indexes by specifying where to start and where to end the range.

In [9]:
t = (1,2,3,4,5)
print(t[1:4])

(2, 3, 4)

**Join two tuples**

In Python, tuples are immutable sequences, meaning they cannot be changed after creation. To combine two tuples, you effectively create a new tuple containing all the elements from both original tuples. The + operator serves this purpose, concatenating the tuples and returning the combined result.

In [ ]:
tuple1 = (1, 2)
tuple2 = (3, 4)

tuple3 = tuple1 + tuple2
print(tuple3) # Output: (1, 2, 3, 4)

**Multiply Tuples**

If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [10]:
t = (1,2,3,4)
t2 = t*3
print(t2)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

# code to understand tuple better

In [12]:
# Creating tuples
tuple1 = (1, 2, 3)
tuple2 = ('apple', 'banana', 'cherry')
tuple3 = ()  # Empty tuple

In [13]:
# Accessing elements
print(tuple1[0])  # Output: 1
print(tuple2[1:])  # Output: ('banana', 'cherry')

1
('banana', 'cherry')

In [14]:
# Immutability
# tuple1[0] = 5  # This will raise an error, as tuples cannot be modified

In [15]:
# Tuple unpacking
x, y, z = tuple1
print(x, y, z)  # Output: 1 2 3

1 2 3

In [16]:
# Tuple methods
print(len(tuple2))  # Output: 3
print(tuple1.count(2))  # Output: 1
print(tuple2.index('banana'))  # Output: 1

3
1
1

In [17]:
# Iterating through a tuple
for item in tuple2:
    print(item)

apple
banana
cherry

In [18]:
# Converting a list to a tuple
list1 = [1, 2, 3]
tuple4 = tuple(list1)
print(tuple4)  # Output: (1, 2, 3)

(1, 2, 3)